<section class="orders">
    <div class="container">
      <h1 class="fw-bolder">All Orders</h1>
        <div class="overflow-auto pt-4"> 
            <table class="table table-bordered border table-hover">
                <thead class="bg-gray white align-middle">
                    <tr>
                        <th class="table-data-width px-4 py-2 fs-5 fw-normal" >Orders</th>
                        <th class="table-data-width px-4 py-2 fs-5 fw-normal">Customer</th>
                        <th class="table-data-width px-4 py-2 fs-5 fw-normal">Address</th>
                        <th class="table-data-width px-4 py-2 fs-5 fw-normal">Status</th>
                        <th class="table-data-width px-4 py-2 fs-5 fw-normal">Placed At</th>
                    </tr>
                </thead>
                <tbody id="orderTableBody" class="align-middle">
                    <tr>
                        <td class="px-4 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officiis blanditiis magnam dolore magni</td>
                        <td class="px-4 py-2">John Doe</td>
                        <td class="px-4 py-2">Main street</td>
                        <td class="px-4 py-2">
                          <select name="" id="">
                            <option value="">Order Placed</option>
                            <option value="">Order confirmation</option>
                            <option value="">Order preparation</option>
                            <option value="">Out for Delivery</option>
                            <option value="">Completed</option>
                          </select>
                        </td>
                        <td class="px-4 py-2">03:50 PM</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officiis blanditiis magnam dolore magni</td>
                        <td class="px-4 py-2">John Doe</td>
                        <td class="px-4 py-2">Main street</td>
                        <td class="px-4 py-2">
                          <select name="" id="">
                            <option value="">Order Placed</option>
                            <option value="">Order confirmation</option>
                            <option value="">Order preparation</option>
                            <option value="">Out for Delivery</option>
                            <option value="">Completed</option>
                          </select>
                        </td>
                        <td class="px-4 py-2">03:50 PM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>