
.logo{
  position: relative;

  img{
    position: absolute;
    top: 2.7rem;
    left: 0.5rem;
    transform-origin: 50% 0%;
    animation: logo-animation 2s infinite;
  }
}

@keyframes logo-animation{
  0%{
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(30deg);
  }
}

.cart-logo{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  background-color: $secondary;
  border-radius: 50%;
  box-shadow: 3px 3px 15px #F7D6E2;
  z-index: 1000;
}