//colors
$primary:#8E44AD;
$primary-hover:#6C3483;
$secondary:#F14483;

$gray:#808B96;

$white:#f4f2ff;
$black:#2E4053;
$red: #DA2E2B;

$heading-ff: 'Roboto', sans-serif;
$paragraph-ff: 'Open Sans', sans-serif;
$btn-ff: 'Encode Sans', sans-serif;

//transistion
$smooth:all .3s ease-out;